{% extends "base.html" %}
{% block body %}
<br>
<br>

<section id="hero">
<div class="hero container">
    <div>
    <h1>Hello, <span></span></h1>
    <h1>Ready To <span></span></h1>
    <h1>Track Your Expenses? <span></span></h1>
    <a href="/login" type="button" class="cta">Log in</a>
    <br>
    <a href="/signup" type="button" class="cta">Create your Account</a>
    </div>
</div>
</section>
<br>

<section id="footer">
    <div class="footer container">
        <p>© Google Developers Student Clubs, Nanyang Polytechnic</p>
    </div>
</section>

<script src="..\static\js\home.js"></script>
{% endblock body %}