<nav class="navbar sticky-top  navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">$$ Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/display">History</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/limit">LIMIT</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Report
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/today">TODAY</a>
            <a class="dropdown-item" href="/month">Month</a>
            <a class="dropdown-item" href="/year">Year</a>
          </div>
        </li>
      </ul>
        <div class="form-inline my-5 my-lg-1" style="position: absolute; left: 1250px;">
      < class="navbar-nav mr-auto ">
        <li class="nav-item dropdown btn-group open">
        <a class="btn btn-primary" href="#"><i class="fa fa-user fa-fw"></i>User </a>
        <a class="btn btn-primary dropdown-toggle "href="#" id="navbarDropdown"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Profile</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Contact-Us</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" style="color: darkred;" href="/logout">Log-Out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
        </li>


      <div>
       </ul>
      </div>
    </div>
</nav>